<div class="login">
  <div class="login__card animate-in">
    <div class="login__head">
      <app-logo />
      <app-lang-switch />
    </div>
    <span class="kicker">{{ 'AD_LOGIN_SUB' | tr }}</span>
    <h1 class="login__title">{{ 'AD_LOGIN_TITLE' | tr }}</h1>

    <form (ngSubmit)="submit()" class="login__form">
      <div class="field">
        <label>{{ 'AD_LOGIN_USER' | tr }}</label>
        <input class="input" [(ngModel)]="username" name="username" autocomplete="username" />
      </div>
      <div class="field">
        <label>{{ 'AD_LOGIN_PASS' | tr }}</label>
        <input class="input" type="password" [(ngModel)]="password" name="password" autocomplete="current-password" />
      </div>
      @if (error()) {
        <div class="form-error" style="margin-bottom:8px">{{ 'AD_LOGIN_ERR' | tr }}</div>
      }
      <button type="submit" class="btn btn--gold btn--block btn--lg">{{ 'AD_LOGIN_BTN' | tr }}</button>
    </form>

    <p class="login__hint">{{ 'AD_LOGIN_HINT' | tr }}</p>
    <a class="login__back" routerLink="/">
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M19 12H5M11 6l-6 6 6 6" stroke-linecap="round" stroke-linejoin="round"/></svg>
      {{ 'AD_BACK_SITE' | tr }}
    </a>
  </div>
</div>
